<% provide(:title, t("page.title.login")) %>
<h1 class="title center"><%= t("page.title.login") %></h1>

<div class="row">
  <div class="col s12 m4 offset-m4">
     <div class="card-panel">
        <%= simple_form_for :session, wrapper: :vertical_form, url: login_path do |f| %>

            <%= f.input :email, wrapper: :materialize_input %>
            <%= f.input :password, wrapper: :materialize_input %>
            <%= link_to t("page.login.forgot"), new_password_reset_path %>
            <p>
              <%= f.check_box :remember_me,as: :boolean, wrapper: :vertical_radio_and_checkboxes %>
              <%= f.label :remember_me, label: t("activerecord.attributes.session.remember_me") , id:'remember_me' %>
            </p>

            <%= f.button :button, t("page.login.submit"), wrapper: :materialize_button %>
        <% end %>

        <p><%= t("page.login.new_user") %> <%= link_to t("page.login.go_to_register"), new_user_path %></p>
    </div>
  </div>
</div>