<div class="container">
  <h3>Aguardando Aprovação</h3>
  <ul>
    <% @user.pending_friends.each do |friend| %>
        <li>
          <%= gravatar_for friend, size: 50 %>
          <%= link_to friend.name, friend %>
        </li>
    <% end %>
  </ul>

  <h3>Solicitações de Amizade</h3>
  <ul>
    <% @user.requested_friends.each do |friend| %>
        <li>
          <%= gravatar_for friend, size: 50 %>
          <%= link_to friend.name, friend %>
        </li>
    <% end %>
  </ul>

  <h3>Seus Amigos</h3>
  <ul>
    <% @user.friends.each do |friend| %>
        <li>
          <%= gravatar_for friend, size: 50 %>
          <%= link_to friend.name, friend %>
        </li>
    <% end %>
  </ul>

</div>