<div class="row card-panel">
<%= simple_form_for @video do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <% Video.locale_columns(:title).each do |column| %>
          <%= f.input column, wrapper: :materialize_input %>
    <% end %>

    <%= f.input :link, wrapper: :materialize_input %>
    <small class="blue-text">*<%= t("page.title.videos.form.link.alert")%></small>

    <%= f.association :tags %>
  <div class="actions center">
    <%= f.button :button %>
  </div>
<% end %>
</div>