<% provide(:title, t("page.title.videos.edit") ) %>
<div class="container video-edit">
  <h1 class="center"><%= t("page.title.videos.edit") %></h1>

  <%= render 'form' %>

  <%= link_to @video, class: 'waves-effect waves-light btn bottom-link' do %>
      <%= t("page.news.action.new.show")%>
  <%end%>
  <%= link_to videos_path, class: 'waves-effect waves-light btn lime darken-2 bottom-link' do %>
      <i class="material-icons left">reply</i>
      <%= t("page.news.action.new.back")%>
  <%end%>
</div>