<% provide(:title, t("page.title.videos.index") ) %>
<div class="container video-index">
  <h1><%= t("page.title.videos.index") %></h1>
  <% if logged_in? %>
    <%= link_to new_video_path, class: 'waves-effect waves-light btn' do %>
        <i class="material-icons right">add_circle</i>
        <%= t("page.model.action.new") %>
    <% end %>
  <%end%>
  <%= will_paginate %>
    <div class="row">
      <%= render @videos%>
    </div>
  <%= will_paginate %>

</div>