<% provide(:title, @video.title ) %>
<div class="container video-show">
  <h2 class="center">
    <strong><%= t("activerecord.attributes.video.title")%></strong> -
    <%= @video.title %>
  </h2>

  <div class="row">
    <div class="col s12 m10 offset-m1">
      <div class="video-container">
        <%= embed(@video.link) %>
      </div>
    </div>
  </div>

  <h5 class="blue-text"><%= t("activerecord.models.tag")%>:</h5>
  <% @tags.each  do |tag| %>
    <div class="chip indigo darken-2 white-text">
      <%= tag.name %>
    </div>
  <% end %>

  <h5 class="blue-text"><%= t("page.video.action.show.comment.rating")%>:</h5>
  <p>
    <%= rating_for @video, "video", :star => 5, :disable_after_rate => true %>
  </p>

  <%= link_to edit_video_path(@video), class: 'waves-effect waves-light btn bottom-link' do %>
      <i class="material-icons right">mode_edit</i>
      <%= t("page.model.action.edit")%>
  <%end%>

  <%= render 'comments/comments' %>

  <% if logged_in? %>
    <h5 class="blue-text"><%= t("page.news.action.show.comment.title")%>:</h5>
    <%= render 'videos/comments_form' %>
  <% else %>
      <p class="center">
        <button id="show-form-login" class="waves-effect waves-light btn"><%= t("page.video.action.show-login") %></button>
      </p>
  <% end %>
  <%= link_to videos_path, class: 'waves-effect waves-light btn lime darken-2 bottom-link' do %>
      <i class="material-icons left">reply</i>
      <%= t("page.news.action.new.back")%>
  <%end%>

</div>
