<% provide(:title, t("page.title.news.edit") ) %>
<div class="container news-edit">
  <h1><%= t("page.title.news.edit") %></h1>

  <%= render 'form' %>

  <%= link_to @news, class: 'waves-effect waves-light btn bottom-link' do %>
      <%= t("page.news.action.new.show")%>
  <%end%>
  <%= link_to news_index_path, class: 'waves-effect waves-light btn lime darken-2 bottom-link' do %>
      <i class="material-icons left">reply</i>
      <%= t("page.news.action.new.back")%>
  <%end%>
</div>
