<% provide(:title, t("page.title.news.index") ) %>
<div class="news-index container">
  <h1><%= t("page.title.news.index") %></h1>
  <% if logged_in? %>
    <%= link_to new_news_path, class: 'waves-effect waves-light btn' do %>
        <i class="material-icons right">add_circle</i>
        <%= t("page.model.action.new") %>
    <% end %>
  <% end %>

  <%= will_paginate %>
    <div class="row">
      <%= render @news%>
    </div>
  <%= will_paginate %>
</div>