<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @news.content %>
</p>

<h2>Comments</h2>
<% @news.comments.each do |comment| %>
    <p>
      <b>Comment:</b>
      <% if !comment.aprove? %>
          <% if current_user.admin? %>
              <%= comment.content %>
            <p>
              <%= link_to "Aprovar", comment_aprove_path(comment) %>
              | <%= link_to "Excluir", comment_destroy_path(comment), method: :delete  %>
            </p>
        <% end %>
    <% else %>
        <%= comment.content %>
    <% end %>
    </p>
<% end %>

<%= simple_form_for ([@news, @news.comments.build ]) do |f| %>
    <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id} %>
    <%= f.input :content %>
    <%= f.button :submit %>
<% end %>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
