<header class="navbar navbar-fixed-top navbar-inverse">
  <% if logged_in? %>
    <ul id="dropdown1" class="dropdown-content">
      <li><%= link_to "Profile", current_user %></li>
      <li><%= link_to "Settings", edit_user_path(current_user) %></li>
      <li class="divider"></li>
      <li>
        <%= link_to "Log out", logout_path, method: "delete" %>
      </li>
    </ul>
  <% end %>
    <nav>
      <div class="container">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Social video", root_path, id: "logo" %></li>
          <% if logged_in? %>
              <li><%= link_to "Users", users_path %></li>
              <li class="dropdown">
              <li>
                <a class="dropdown-button" href="#!" data-activates="dropdown1">
                  Dropdown
                  <i class="material-icons right">arrow_drop_down</i>
                </a>
              </li>
          <% else %>
              <li><%= link_to "Log in", login_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
</header>