<header class="navbar navbar-fixed-top navbar-inverse">
    <nav>
      <div class="container">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Social video", root_path, id: "logo" %></li>
          <% if logged_in? %>
              <li><%= link_to t("header.links.users"), users_path %></li>
              <li class="dropdown">
              <li><%= link_to t("header.links.friends"), user_friendship_path %></li>
              <li><%= link_to t("header.links.video"), videos_path %></li>
              <li><%= link_to t("header.links.news"), news_index_path %></li>
              <li>
                <a class="dropdown-button" href="#!" data-activates="dropdown1">
                  <%= t("header.links.account") %>
                  <i class="material-icons right">arrow_drop_down</i>
                </a>
                <ul id="dropdown1" class="dropdown-content">
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                  <li><%= link_to "Amizades", user_friendship_path %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Log out", logout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
          <% else %>
              <li><%= link_to "Log in", login_path %></li>
          <% end %>
          <li><%= link_to_unless_current 'Português', locale: 'pt-BR' %></li>
          <li><%= link_to_unless_current 'Español', locale: 'es' %></li>
        </ul>
      </div>
    </nav>
</header>